@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
body {
  background-color: rgb(29, 29, 29);
  color: rgb(210, 237, 247);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0px 1vw 0px 1vw;
  margin: 0px;
  box-sizing: border-box;
  font-size: 22px;
  overflow-x: hidden;
}
body * {
  border-radius: 5px;
}

nav {
  width: 100%;
  height: 4rem;
  padding: 0px 4vw 0px 4vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid;
}
nav div {
  width: -moz-fit-content;
  width: fit-content;
  height: 50%;
  padding: 0px 1rem 0px 1rem;
  gap: 5rem;
  border: solid 1px;
  display: flex;
  align-items: center;
}
nav div select {
  height: 1rem;
  background-color: transparent;
  color: rgb(210, 237, 247);
  border: none;
}
nav input {
  background-color: transparent;
  color: rgb(210, 237, 247);
  margin-left: auto;
  padding: 0px 2rem 0px 2rem;
  height: 50%;
  border: solid 1px rgb(210, 237, 247);
}

main {
  width: 100%;
  height: 50vh;
  border: solid 1px;
  padding: 2vh 0px 2vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main * {
  display: flex;
  align-items: center;
}
main .currentWeatherCity {
  width: 40%;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  box-sizing: border-box;
}
main .currentWeatherCity .currentWeatherStarIcon {
  height: 2rem;
  width: 2rem;
  background-color: orange;
  position: relative;
  left: 30%;
}
main .currentWeatherTemperature {
  gap: 2rem;
}
main .currentWeatherInfo {
  width: -moz-fit-content;
  width: fit-content;
  height: 60%;
  border: solid 1px;
  flex-direction: column;
  justify-content: center;
  padding: 0px 2rem 0px 2rem;
}
main .currentWeatherInfo #weatherInforDetail {
  gap: 3rem;
}

#dailyForecast {
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
}
#dailyForecast div {
  height: -moz-fit-content;
  height: fit-content;
  width: 17%;
  text-align: center;
  border: 1px solid;
}
#dailyForecast div p {
  margin-top: auto;
  white-space: nowrap;
}

#hourGap {
  height: 35vh;
  border: 1px solid;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
}
#hourGap > div {
  height: 100%;
  width: 11%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  body {
    text-align: center;
    font-size: 18px;
  }
  nav div {
    width: 40%;
    padding: 0px 0.5rem 0px 0.5rem;
  }
  nav div p {
    white-space: nowrap;
  }
  nav div select {
    position: relative;
    right: 55%;
  }
  nav input {
    width: 25%;
  }
  main {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  main #weatherInforDetail {
    flex-direction: column;
    gap: 0px !important;
  }
  #dailyForecast {
    padding: 1rem 0.2rem;
    height: 25vh;
    font-size: 1rem;
  }
  #dailyForecast div {
    width: 18%;
  }
  #hourGap {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0.5rem;
  }
  #hourGap div {
    width: 100%;
    height: 8vh;
  }
}/*# sourceMappingURL=style.css.map */