@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
$backgroundColor: rgb(29, 29, 29);
$color: rgb(210, 237, 247);

body {
  background-color: $backgroundColor;
  color: $color;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0px 1vw 0px 1vw;
  margin: 0px;
  box-sizing: border-box;
  font-size: 22px;
  overflow-x: hidden;

  * {
    border-radius: 5px;
  }
}

nav {
  width: 100%;
  height: 4rem;
  padding: 0px 4vw 0px 4vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid;

  div {
    width: fit-content;
    height: 50%;
    padding: 0px 1rem 0px 1rem;
    gap: 5rem;
    border: solid 1px;
    display: flex;
    align-items: center;

    select {
      height: 1rem;
      background-color: transparent;
      color: $color;
      border: none;
    }
  }

  input {
    background-color: transparent;
    margin-left: auto;
    padding: 0px 2rem 0px 2rem;
    height: 50%;
    border: solid 1px $color;
  }
}

main {
  width: 100%;
  height: 50vh;
  border: solid 1px;
  padding: 2vh 0px 2vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    display: flex;
    align-items: center;
  }

  .currentWeatherCity {
    width: 40%;
    height: fit-content;
    // border: solid 1px;
    justify-content: center;
    box-sizing: border-box;   

    .currentWeatherStarIcon {
        height: 2rem;
        width: 2rem;
        background-color: orange;
        position: relative;
        left: 30%;
    }
  }

  .currentWeatherInfo {
    width: 40%;
    height: 60%;
    border: solid 1px;
    flex-direction: column;
    justify-content: center;
  }
}

#daily  Forecast {
    height: 35vh;
    border: 1px solid;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-evenly;

    div {
        height: 100%;
        width:  15%;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#hourGap {
    height: 35vh;
    border: 1px solid;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-evenly;

    div {
        height: 100%;
        width:  11%;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
