@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
$backgroundColor: rgb(16, 21, 26);
$color: rgb(255, 250, 228);
$darkColor: rgb(17, 19, 20);
$lightBlueColor: rgb(66, 90, 112);
$mediumBlueColor: rgb(27, 33, 39);

body {
  background-color: $backgroundColor;
  color: $color;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0px 1vw 0px 1vw;
  margin: 0px;
  box-sizing: border-box;
  font-size: 22px;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 4rem;
  padding: 0px 4vw 0px 4vw;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  // border: 1px solid;
  background-color: $mediumBlueColor;

  div {
    width: fit-content;
    height: 50%;
    padding: 0px 1rem 0px 1rem;
    gap: 5rem;
    // border: solid 1px;
    display: flex;
    background-color: $backgroundColor;
    border-radius: 0.5vw;
    align-items: center;

    select {
      width: 90px;
      height: 1rem;
      color: $color;
      border: none;
      background-color: $backgroundColor;
    }
  }

  input {
    background-color: rgb(14, 15, 15);
    border-radius: 0.5vw;
    color: white;
    margin-left: auto;
    padding: 0px 2rem 0px 2rem;
    height: 50%;
    border: none;
  }
}

main {
  width: 100%;
  height: 50vh;
  // border: solid 1px;
  padding: 2vh 0px 2vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mediumBlueColor;

  * {
    display: flex;
    align-items: center;
  }

  .currentWeatherCity {
    width: 40%;
    height: fit-content;
    // border: solid 1px;
    justify-content: center;
    box-sizing: border-box;

    .latAndLon {
      display: flex;
      flex-direction: column;

      div {
        margin-top: -1.5rem;
        display: flex;
        flex-direction: column;
      }
    }

    .currentWeatherStarIcon {
      position: relative;
      left: 25%;

      #favoriteBtn {
        background-image: url("assets/Star_icon_stylized.svg.png");
        height: 3rem;
        width: 3rem;
        filter: grayscale(100%);
      }

      #favoriteBtn.yes {
        background-image: url("assets/Star_icon_stylized2.svg");
        height: 3rem;
        width: 3rem;
        filter: none;
      }
    }
  }

  .currentWeatherTemperature {
    gap: 2rem;
  }

  .currentWeatherInfo {
    width: fit-content;
    height: 60%;
    // border: solid 1px;
    flex-direction: column;
    justify-content: center;
    padding: 0px 2rem 0px 2rem;
    background-color: $lightBlueColor;
    border-radius: 3vw .5vw 3vw .5vw;
    box-shadow: 10px 10px rgba(0, 0, 0, .3);

    #weatherInforDetail {
      gap: 3rem;
    }
  }
}

#dailyForecast {
  height: fit-content;
  // border: 1px solid;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: $mediumBlueColor;

  .date-link {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  div {
    height: fit-content;
    width: 15%;
    text-align: center;
    // border: 1px solid;
    background-color: $lightBlueColor;
    color: $color;
    border-radius: 3vw .5vw 3vw .5vw;
    font-size: calc(1.8rem - 10px);
    box-shadow: 10px 10px rgba(0, 0, 0, .3);

    p {
      margin-top: auto;
      white-space: nowrap;
    }
  }
}

#hourGap {
  height: 33vh;
  // border: 1px solid;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: $mediumBlueColor;

  > div {
    height: 100%;
    width: 11.5%;
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $lightBlueColor;
    border-radius: 1vh 1vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1r;
  }
}

@media (max-width: 768px) {
  body {
    text-align: center;
    font-size: 18px;
  }

  nav {
    padding: 1.5vh 5vw 1.5vh 5vw;
    flex-direction: column;
    height: fit-content;
    gap: 0.5rem;

    div {
      width: 80vw;
      height: 4.5vh;
      padding: 0px 0.5rem 0px 0.5rem;

      p {
        white-space: nowrap;
        font-size: 1rem;
      }

      select {
        margin-left: auto;
      }
    }

    input {
      width: 67vw;
      height: 4vh;
      margin-right: auto;
    }
  }

  main {
    flex-direction: column;
    height: fit-content;

    #weatherInforDetail {
      flex-direction: column;
      gap: 0px !important;
    }
  }

  #dailyForecast {
    padding: 1rem 0.2rem;
    height: fit-content;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    div {
      width: 70%;
    }
  }

  #hourGap {
    flex-direction: column;
    height: fit-content;
    gap: 0.5rem;
    align-items: center;

    div {
      width: 70%;
      height: fit-content;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
